<h1>Your Beers</h1>


<% @beers.each do |beer| %>
<ul>
  <li>
    <h4><b><%= beer.name %></h4></b>
      <b>Style:</b><%= beer.style %><br>
      <b>Region:</b> <%= beer.region %><br>
      <b>Abv:</b> <%= beer.abv %><br>
      <h5> <%= link_to "Add a comment", new_beer_comment_path(beer) %></h5>
      <h5> <%= link_to "View comments", comment_path(beer) %></h5>
      <h5> <%= link_to "Edit", edit_beer_path(beer) %></h5>
      </li>
</ul>
<% end %>

<% if logged_in? %>
<br><%= link_to "Add a New Beer", new_beer_path %>
<% end %>
